<br>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-4 shadow" id="total-orders">
				<div class="card-header">
					<h6 class="card-title">Total Orders <span class="badge badge-warning">Beta</span></h6>
				</div>
				<div class="card-body">
					<h3 class="card-title" >{{total_orders}}</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-4 shadow" id="orders-delivered">
				<div class="card-header">
					<h6 class="card-title"  style="color: #121212; letter-spacing: 2px;">Out For Delivery <span class="badge badge-danger">Beta</span></h6>
				</div>
				<div class="card-body">
					<h3 class="card-title" >{{OFD}}</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-4 shadow" id="delivered">
				<div class="card-header">
					<h6 class="card-title"  style="color: #121212; letter-spacing: 2px;">Delivered <span class="badge badge-success">Beta</span></h6>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{Delivered}}</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-4 shadow" id="orders-pending">
				<div class="card-header">
					<h6 class="card-title" style="color: #121212; letter-spacing: 2px;"> Pending <span class="badge badge-warning">Beta</span></h6>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{pending}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>